@import "../../../../styles.scss";

.charge-station-header {
  display: flex;
  justify-content: space-between;
  background-color: $header-background;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.info-section {
  display: flex;
  align-items: center;
}

.basic-white-text {
  font-size: 24px;
  margin: 0px 20px;
}

.commands-subheader {
  min-height: 100px;
  padding: 20px;
  border: 1px solid $border-color;
  border-top: transparent;
}

.commands-table {
  width: 100%;
}

.commands-td {
  padding-left: 5px;
  border: 1px solid $border-color;
}
