<div class="row">
  <div class="col">
    <div class="header">
      <h2>Port Sharing</h2>
      <hr />
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card m-3 p-3">
      <div class="header">
        <h4>Incoming TCP/UDP Ports</h4>
        <hr class="hr-light" />
      </div>
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>Port</th>
            <th>Open</th>
            <th>Description</th>
          </tr>
        </thead>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col">
    <div class="card m-3 p-3">
      <div class="header">
        <h4>Outgoing TCP/UDP Ports</h4>
        <hr class="hr-light" />
      </div>
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>Port</th>
            <th>Open</th>
            <th>Description</th>
          </tr>
        </thead>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-primary px-3 mt-4">Save</button>
  </div>
</div>
