.regularBtn {
  border: 1px solid green;
  border-radius: 15px;
  color: green;
  box-shadow: inset 2px 2px 5px 2px gray;
}

.regularBtnDisabled {
  border: 1px solid gray;
  border-radius: 15px;
  color: gray;
  box-shadow: inset 2px 2px 5px 2px gray;
}

.cancelregularBtn {
  border: 1px solid red;
  border-radius: 15px;
  color: red;
  box-shadow: inset 2px 2px 5px 2px gray;
}

.divRow {
  font-size: 15px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.regularInput {
  max-width: 250px;
  border: 1px solid gray;
  border-radius: 5px;
}
