<div *ngIf="chargePoint && chargePoint.id" style="padding-bottom: 20px">
  <app-header-navigation
    (navBtnClicked)="navBtnClicked($event)"
    [chargeController]="chargePoint.chargeController!"
    [navigationBtns]="navigationBtns"
  >
  </app-header-navigation>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card m-3 p-3">
          <table class="table table-responsive table-responsive table-hover">
            <tbody>
              <tr>
                <th>Local Bus State</th>
                <td>{{ chargePoint?.localBusState || "-" }}</td>
              </tr>
              <tr>
                <th>Charging Duration</th>
                <td>{{ chargePoint?.chargingDuration || "-" }}</td>
              </tr>

              <tr>
                <th>Plug-in Duration</th>
                <td>{{ chargePoint?.pluginDuration || "-" }}</td>
              </tr>
              <tr>
                <th>Charging Current Limit (PWM)</th>
                <td>{{ chargePoint?.chargingCurrentLimit || "-" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 p-3">
          <h5>Local Bus Information</h5>
          <table class="table table-responsive table-responsive table-hover">
            <tbody>
              <tr>
                <th>Backplane bus position</th>
                <td>{{ chargePoint?.busPosition || "-" }}</td>
              </tr>
              <tr>
                <th>Head Module IP Address</th>
                <td>
                  {{ chargePoint?.chargeController?.eth0IPAddress || "-" }}
                </td>
              </tr>
              <tr>
                <th>Head Module MAC Address</th>
                <td>
                  {{ chargePoint?.chargeController?.macAddress || "-" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card m-3 p-3">
          <h5>Energy Meter Data</h5>
          <table class="table table-responsive table-responsive table-hover">
            <tbody>
              <tr>
                <th>Current L1</th>
                <td>{{ chargePoint?.currentI1 || "-" }}</td>
              </tr>
              <tr>
                <th>Current L2</th>
                <td>{{ chargePoint?.currentI2 || "-" }}</td>
              </tr>
              <tr>
                <th>Current L3</th>
                <td>{{ chargePoint?.currentI3 || "-" }}</td>
              </tr>
              <tr>
                <th>Voltage U1</th>
                <td>{{ chargePoint?.voltageU1 || "-" }}</td>
              </tr>
              <tr>
                <th>Voltage U2</th>
                <td>{{ chargePoint?.voltageU2 || "-" }}</td>
              </tr>
              <tr>
                <th>Voltage U3</th>
                <td>{{ chargePoint?.voltageU3 || "-" }}</td>
              </tr>
              <tr>
                <th>Total Energy</th>
                <td>{{ chargePoint?.totalEnergy || "-" }}</td>
              </tr>
              <tr>
                <th>Power Factor</th>
                <td>{{ chargePoint?.powerFactor || "-" }}</td>
              </tr>
              <tr>
                <th>Frequency</th>
                <td>{{ chargePoint?.frequency || "-" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 p-3">
          <h5>Status Charging Point Details</h5>
          <table class="table table-responsive table-responsive table-hover">
            <tbody>
              <tr>
                <th>Status</th>
                <td>{{ chargePoint?.status || "-" }}</td>
              </tr>
              <tr>
                <th>Error Status</th>
                <td>{{ chargePoint?.errorStatus || "-" }}</td>
              </tr>
              <tr>
                <th>Current RFID</th>
                <td>{{ chargePoint.rfidReader }}</td>
              </tr>
              <tr>
                <th>External Temperature (PT1000)</th>
                <td>{{ chargePoint?.externalTemperature || "-" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
