@import '../../../../../styles.scss';

.div-row {
    background-color: lightgray;
    color: black;
}
.div-col {
    border: 1px solid white;
    padding: 10px;
    color: #585858;
}
.grid-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0px;
}

.alignCheckBox {
    margin-left: 10px;
}

.configuration-station-subheader {
    display: inline;
    width: 350px;
    background-color: $header-background;
    color: white;
    padding: 10px;
    margin-left: 50%;
    // margin: 20px 0 20px auto;
}

#check-circle {
    color: $blitz-green;
    align-self: center;
}

.green-blitz {
    color: $blitz-green;
}

.save-btn-wrapper {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}